.loginHeader{
    font-weight: 700;
}

.loginHeader p::after{
    width:21rem;
}


.buttonLogin {
  
    background: #001D6E;
    border: none;
    border-radius: 6px;
    width: 10vw;
    height: 5vh;
    color: #fff;
    transition: all 0.5s ease-out;
    cursor: pointer;
    font-size: medium;
    font-weight: 700;
    
}

.buttonLogin:hover{background: #7FB5FF;}

#divbutton{display: flex;align-self: center;box-shadow: 5px 5px 10px rgb(0, 0, 0, .212); gap:5px ;}

#divbutton p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: medium;
    font-weight: 700;
}