<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/styleloginandregister.css">
    <link rel="stylesheet" href="style/styleregister.css">
    <link rel="stylesheet" href="style/stylechangepassword.css">
    <title>Search Ship-Change Password</title>
</head>
<body>
    <div id="container">
        <div id="content">
            <div class="loginHeader">
                <p>Change Password</p>
            </div>
            <form  action="/changePassword" method="POST" class="inputSpace" >
                <div class="inputSpace"style="gap:0">
                    <label for="email">E-mail</label>
                    <input type="text" name="email">
                </div>
                <div class="inputSpace"style="gap:0">
                    <label for="password">Last Password</label>
                    <input type="password" name="password">
                </div>
                <div class="inputSpace" style="gap:0">
                    <label for="newPassword">New Password</label>
                    <input type="password" name="newPassword">
                </div>
                <div id="divbutton">
                    <button class="buttonLogin">Change Password</button>
                    <a href="/login"> <p class="buttonLogin" >Return</p></a>
                </div>

            </form>

        </div>
    </div>

</body>
</html>