<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/styleloginandregister.css">
    <link rel="stylesheet" href="style/styleregister.css">
    <title>Search Ship-Sign Up</title>
</head>
<body>
    <div id="container">
        <div id="content">
            <div class="loginHeader">
                <a href="/login"><p id="p1">Sign in</p></a>
                <p>Sign up</p>
            </div>
            <form  action="/register" method="POST" class="inputSpace" >
                <div class="inputSpace"style="gap:0">
                    <label for="username">Username</label>
                    <input type="text" name="username">
                </div>
                <div class="inputSpace"style="gap:0">
                    <label for="email">E-mail</label>
                    <input type="text" name="email">
                </div>
                <div class="inputSpace" style="gap:0">
                    <label for="password">Password</label>
                    <input type="text" name="password">
                </div>
                <div id="divbutton">
                    <button id="buttonLogin">Register</button>
                </div>
            </form>

        </div>
    </div>

</body>
</html>